* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: #191414;
}
      
article{
    padding:1em;
}

input:focus, select:focus, a:focus {
    outline: 5px solid crimson;
    background-color: white;
    color: black;
}

form{
    height: 34em; 
    width: 24em;
    margin: 0 auto;
    background-color: rgba(44,41,42);
    border-radius: 1em;
    border: .2em solid rgba(255,255,255,0.1);
    padding: 2em 2.5em;
}

form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.02em;
    border: none;
}

h1, h2{
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    line-height: 1em;
    text-align: center;
    font-size: 2em;
    
}

h1{
    font-size: 4em;
    font-weight: bold;
    color: #b3b3b3;
    margin: .2em;
}

h2.login{
    margin-bottom: 1em;
    margin: .2em;
}


label{
    display: block;
    margin-top: 2em;
    font-size: 1em;
    font-weight: 500;
}

label.icon-label {
    display: inline;

}

img.icon-label {
    width: 1.5em;
    float: left;
    margin-left: 0.5em;
    margin-right: 0.7em;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(23deg) brightness(108%) contrast(101%);
}
input, select, option{
    height: 3.5em;
    width: 100%;
    background-color: rgb(59, 59, 65);
    margin-top: .5em;
    margin-bottom: 1em;
    font-size: .9em;
    font-weight: 300;
}

input[type="submit"], input[type="button"].lang_button{
    background-color: #1db954;
    color: black;
    font-size: 1em;
    font-weight: 600;
    border-radius: .5em;
    cursor: pointer;
}

.filter-white, img.spinner{
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(23deg) brightness(108%) contrast(101%);
}

img.error{
    filter: invert(21%) sepia(46%) saturate(6797%) hue-rotate(338deg) brightness(86%) contrast(102%);
    width: 30%;
}

p.error, p.spinner{
    font-family: 'Poppins',sans-serif;
    color:#b3b3b3;
    text-align: center;
    margin:  1em auto;
    font-size: 2em;
    font-weight: 300;
}

img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#btnAddLanguage{
    background-color: #4ac776;
    width: 40%;
}

img.spinner{   
    animation: spin 5s linear infinite;
    width: 30%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#progressBar {
    width: 50%;
    margin: auto;
    background-color: grey;
  }
  
  #bar {
    height: 4em;
    background-color: #1db954;
    outline: .3125em solid #b3b3b3;
    display: inline-block
    
}

.back_button{
    float: left;
    width: 10%;
    height: 5%;
    font-size:5em !important;
    background-color: #191414;
    outline: #b3b3b3;
    border:none;

}

.topnav {
    overflow: hidden;
    background-color: #212121;
  }
  
  .topnav a {
    font-family: 'Poppins',sans-serif;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: .875em 1em;
    text-decoration: none;
    font-size: 1.06em;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color:  #191414;
  }
  
  .topnav a.active {
    background-color: #1db954;
    color: black;
  }