<!DOCTYPE html>
<html lang="en">
    <body>
        <head>
            <meta charset="utf-8">
            <title>Error Page</title>
            <meta name="author" content="Alyn Kirsch, Maya Griffith, Drew Jepsen">
            <meta name="description" content="Template Error Page">
            <link rel="stylesheet" href="static/custom.css" type="text/css">
        </head>
      <main>
        <article>
          <input id = "btnBack" autocomplete="" class="back_button" name = "btnBack" type = "button" value = "&#8592" onclick="history.back()">
          <h1>Language song recommender</h1>
        </article>
        <article>
            <img src="static/circle-exclamation-solid.svg" class="error" alt="language-icon"/>
            <p class="error">{{message}}</p>
        </article>
      </main>
    </body>
</html>