<!DOCTYPE html>
<html lang="en">
    <body>
        <head>
        <meta charset="utf-8">
        <title>Help Page</title>
        <meta name="author" content="Alyn Kirsch, Maya Griffith, Drew Jepsen">
        <meta name="description" content="Contains Helpful information and Guides">
        <link rel="stylesheet" type="text/css" href="https://demo.plantpot.works/assets/css/normalize.css">
        <link rel="stylesheet" href="https://use.typekit.net/opg3wle.css">
        <link rel="stylesheet" href="static/results.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        </head>
        <div class="topnav">
            <a href="{{ url_for('.login') }}">Log Out</a>
            <a class="active" href="{{ url_for('.help') }}">Help</a>
            <a href="{{ url_for('.language') }}">Change Language</a>
            <a href="suggested_playlistsSpanish">Recomended</a>
        </div>
      <main>
        <article>
            <h1><b>About the Site </b></h1>
            <p>This site is aimed to help create a usable playlist for those looking to learn new languages. </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
             <h1><b>Instructions</b></h1>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
               voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
               cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h1><b>About Us</b></h1>
            <p>All code authored by Alyn Kirsch, Maya Griffith and Drew Jepsen</p>
        </article>
      </main>
    </body>
</html>