<!DOCTYPE html>
<html lang="en">
        <head>
        <meta charset="utf-8">
        <title>Help Page</title>
        <meta name="author" content="Alyn Kirsch, Maya Griffith, Drew Jepsen">
        <meta name="description" content="Contains Helpful information and Guides">
        <link rel="stylesheet" href="static/results.css" type="text/css">
        </head>
        <body>
        <div class="topnav">
            <a href="{{ url_for('.login') }}">Log Out</a>
            <a class="active" href="{{ url_for('.help') }}">Help</a>
            <a href="{{ url_for('.language') }}">Change Language</a>
            <a href="suggested_playlistsSpanish">Recomended</a>
        </div>
      <main>
        <article>
            <h1>About the Site</h1>
            <p>This site is aimed to help create a usable playlist for those looking to learn new languages. </p>
            <p>Language learning can be a time-consuming process and hard, but music can make it enjoyable. 
              Songs can be a helpful tool in picking up another language, but music recommended to you by teachers or the search bar on Spotify can be boring to listen to and not your style. 
              Now, what if you were able to generate recommendations or create a playlist in the language you were learning based on your specific music tastes? 


              Welcome to Music Language Reccomender, where language learners could input their music streaming platform, and based on their previous listens, this new website will generate a playlist of 
              recommendations in the user’s most listened to genre and in their selected language. 
              
              
              This way, users will be able to find music in what they are learning that they may like, making it a more enjoyable experience for them, while finding some great songs.they would like. Music can be a helpful tool in learning a language, and music that is enjoyable to the user can result in increased motivation and understanding of the language.
              
              </p>
             <h1>Instructions</h1>
             <p>Log in to your prefered music streaming platform, choose a language (or two!), and start listening to your own personalized recomendations.
               Choose from curated playlists and songs for you, and create your own playlists with reccomendations from the site. You also have the ability to listen to a preview of the songs,
              "like" it in your prefered streaming platform, and remove it from our "made for you" playlists. Happy listening!</p>
            <h1>About Us</h1>
            <p>All code authored by Alyn Kirsch, Maya Griffith and Drew Jepsen</p>
        </article>
      </main>
    </body>
</html>