<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Inspect Playlist</title>
        <meta name="author" content="Alyn Kirsch, Maya Griffith, Drew Jepsen">
        <meta name="description" content="Look at a specific Playlist">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/inspect.css">
    </head>
    <body>
        <div class="topnav">
            <a href="{{ url_for('.login') }}">Log Out</a>
            <a href="{{ url_for('.help') }}">Help</a>
            <a href="{{ url_for('.language') }}">Change Language</a>
            <a href="suggested_playlistsSpanish">Recomended</a>
            <a class="active" href="{{ url_for('.playlist')}}">Inspect Playlist</a>
        </div>
        
        <input id = "btnBack" autocomplete="" class="back_button" name = "btnBack" type = "button" value = "&#8592" onclick="history.back()">

    <h1>Advanced Spanish</h1>
    <div id="first-node">
   <div class="topcontainer" id = "topcontainer">
    <div class="icon-and-link">
        <img class='share' alt='edit' src='..\static\pen-to-square-solid.svg' onclick="edit(this)">
        <p id="edit-p">Edit</p>
    </div>
    <div class="icon-and-link">
        <img class='share' alt='share' src='..\static\share-solid.svg' id = "share" onclick="share(this)">
        <p id="share-p">Share</p>
    </div>
    <div class="icon-and-link">
        <img class='heart' class="share" alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">
        <p>Save</p>
    </div>
    </div>
</div>
   
    <div class="grid-container">
        <figure>
            <div class="side-by-side">
            <img alt='Dura by Daddy Yankee' src='..\static\dura.jpg'>
            <img class='play' alt='play this song' src='..\static\play-solid.svg' onclick="changeplay(this)">
            <img class='heart' alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">
            <div class="white">
            <figcaption>Dura</figcaption>
            <p>Daddy Yankee</p>
            </div>
        </div>
        </figure>
        <figure>
            <div class="side-by-side">
            <img alt='TUDO BOM' src='..\static\tudo.jpg'>
            <img class='play' alt='play this song' src='..\static\play-solid.svg' onclick="changeplay(this)">
            <img class='heart' alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">
            <div class="white">
            <figcaption>TUDO BOM</figcaption>
            <p>J Balvin</p>
            </div>
        </div>
        </figure>
        <figure>
            <div class="side-by-side">
            <img alt='Nervita by Bad Bunny' src='..\static\badbunny.jpg'>
            <img class='play' alt='play this song' src='..\static\play-solid.svg' onclick="changeplay(this)">
            <img class='heart' alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">
            <div class="white">
            <figcaption>Neverita</figcaption>
            <p>Bad Bunny</p>
            </div>
        </div>
        </figure>
        <figure>
            <div class="side-by-side">
            <img alt='El Prestamo' src='..\static\prest.jpg'>
            <img class='play' alt='play this song' src='..\static\play-solid.svg' onclick="changeplay(this)">
            <img class='heart' alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">
            <div class="white">
            <figcaption>El Prestamo</figcaption>
            <p>Maluma</p>
            </div>
        </div>
        </figure>

        <figure>
            <div class="side-by-side">
            <img alt='Danza Kuduro' src='..\static\danza.jpg'>
            <img class='play' alt='play this song' src='..\static\play-solid.svg' onclick="changeplay(this)">
            <img class='heart' alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">
            <div class="white">
            <figcaption>Danza Kuduro</figcaption>
            <p>Don Omar</p>
            </div>
        </div>
        </figure>

        <figure>
            <div class="side-by-side">
            <img alt='Dura by Daddy Yankee' src='..\static\dura.jpg'>
            <img class='play' alt='play this song' src='..\static\play-solid.svg' onclick="changeplay(this)">
            <img class='heart' alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">
            <div class="white">
            <figcaption>Dura</figcaption>
            <p>Daddy Yankee</p>
            </div>
        </div>
        </figure>
        <figure>
            <div class="side-by-side">
            <img alt='TUDO BOM' src='..\static\tudo.jpg'>
            <img class='play' alt='play this song' src='..\static\play-solid.svg' onclick="changeplay(this)">
            <img class='heart' alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">
            <div class="white">
            <figcaption>TUDO BOM</figcaption>
            <p>J Balvin</p>
            </div>
        </div>
        </figure>
        <figure>
            <div class="side-by-side">
            <img alt='Nervita by Bad Bunny' src='..\static\badbunny.jpg'>
            <img class='play' alt='play this song' src='..\static\play-solid.svg' onclick="changeplay(this)">
            <img class='heart' alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">
            <div class="white">
            <figcaption>Neverita</figcaption>
            <p>Bad Bunny</p>
            </div>
        </div>
        </figure>
        <figure>
            <div class="side-by-side">
            <img alt='El Prestamo' src='..\static\prest.jpg'>
            <img class='play' alt='play this song' src='..\static\play-solid.svg' onclick="changeplay(this)">
            <img class='heart' alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">
            <div class="white">
            <figcaption>El Prestamo</figcaption>
            <p>Maluma</p>
            </div>
        </div>
        </figure>

        <figure>
            <div class="side-by-side">
            <img alt='Danza Kuduro' src='..\static\danza.jpg'>
            <img class='play' alt='play this song' src='..\static\play-solid.svg' onclick="changeplay(this)">
            <img class='heart' alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">
            <div class="white">
            <figcaption>Danza Kuduro</figcaption>
            <p>Don Omar</p>
            </div>
        </div>
        </figure>
       
    </div>
    </body>
    <script src="..\static\script.js"></script>
</html>