<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Language page</title>
  <meta name="author" content="Alyn Kirsch, Maya Griffith, Drew Jepsen">
  <meta name="description" content="Find songs you love in another language">
  <link rel="stylesheet" href="static/custom.css" type="text/css">
  <script type="text/javascript" src="static/language.js"></script>
</head>
<body>
  <main>
    <article>
      <input id = "btnBack" autocomplete="" class="back_button" name = "btnBack" type = "button" value = "&#8592" onclick="history.back()">
      <h1>Language song recommender</h1>
    </article>
    <article>
      <form action="{{ url_for('.language') }}" id="frmLogin" method="post">
        <h2 class="language"> Choose a language</h2>
        <img src="static/language-solid.svg" class="filter-white" alt="language-icon"/>
        <fieldset>
          <input id = "btnAddLanguage" autocomplete="" class="lang_button" name = "btnAddLanguage" type = "button" value = "+ language" onclick="addLanguage()">
          <p>
            <legend></legend> 
            <label for="lstLanguage" id="languageLabel">Language</label> 
            <select id="lstLanguage" name="lstLanguage" title="Choose a language" autocomplete="on">
              <option value="" disabled selected hidden></option>
              <option value="Afrikaans">Afrikaans</option>
              <option value="Albanian">Albanian (shqip)</option>
              <option value="Amharic">Amharic (ኣማርኛ)</option>
              <option value="Arabic">Arabic (عربى)</option>
              <option value="Armenian">Armenian (Հայերէն)</option>
              <option value="Basque">Basque (Euskara)</option>
              <option value="Bengali">Bengali (বাংলা)</option>
              <option value="Bulgarian">Bulgarian (Български)</option>
              <option value="Burmese">Burmese (မြန်မာစကား)</option>
              <option value="Catalan">Catalan (català)</option>
              <option value="Czech">Czech (čeština)</option>
              <option value="Chinese">Chinese (普通话 [普通話])</option>
              <option value="Croatian">Croatian (hrvatski)</option>
              <option value="Danish">Danish (dansk)</option>
              <option value="Dari">Dari (درى)</option>
              <option value="Dutch">Dutch (Nederlands)</option>
              <option value="Dzongkha">Dzongkha (རྫོང་ཁ་)</option>
              <option value="English">English</option>
              <option value="Esperanto">Esperanto</option>
              <option value="Estonian">Estonian (eesti keel)</option>
              <option value="Faroese">Faroese (færøsk)</option>
              <option value="Farsi">Farsi (פארסי)</option>
              <option value="Finnish">Finnish (suomi)</option>
              <option value="French">French (français)</option>
              <option value="Gaelic">Gaelic (Gàidhlig)</option>
              <option value="Galician">Galician (galego)</option>
              <option value="German">German (Deutsch)</option>
              <option value="Greek">Greek (ελληνικά)</option>
              <option value="Hebrew">Hebrew (עברית)</option>
              <option value="Hindi">Hindi (हिन्दी)</option>
              <option value="Hungarian">Hungarian (magyar)</option>
              <option value="Icelandic">Icelandic (íslenska)</option>
              <option value="Indonesian">Indonesian (Bahasa Indonesia)</option>
              <option value="Inuktitut (Eskimo)">Inuktitut (ᐃᓄᒃᑎᑐᑦ)</option>
              <option value="Italian">Italian (Italiano)</option>
              <option value="Japanese">Japanese (日本語)</option>
              <option value="Khmer">Khmer (ភាសាខ្មែរ)</option>
              <option value="Korean">Korean (한국어 [韓國語])</option>
              <option value="Kurdish">Kurdish (کوردی)</option>
              <option value="Latvian">Latvian (latviešu valoda)</option>
              <option value="Lithuanian">Lithuanian (lietuvių kalba)</option>
              <option value="Macedonian">Macedonian (македонски)</option>
              <option value="Malay">Malay (Bahasa Melayu)</option>
              <option value="Maltese">Maltese (Malti)</option>
              <option value="Nepali">Nepali (नेपाली)</option>
              <option value="Norwegian">Norwegian (norsk)</option>
              <option value="Pashto">Pashto (پښتو)</option>
              <option value="Polish">Polish (polski)</option>
              <option value="Portuguese">Portuguese (Português)</option>
              <option value="Romanian">Romanian (limba română)</option>
              <option value="Russian">Russian (Русский язык) </option>
              <option value="Scots">Scots</option>
              <option value="Serbian">Serbian (српски / srpski)</option>
              <option value="Slovak">Slovak (slovenčina)</option>
              <option value="Slovenian">Slovenian (slovenščina)</option>
              <option value="Somali">Somali (af Soomaali)</option>
              <option value="Spanish">Spanish (Español)</option>
              <option value="Swedish">Swedish (svenska)</option>
              <option value="Swahili">Swahili (Kiswahili)</option>
              <option value="Tagalog-Filipino">Tagalog-Filipino</option>
              <option value="Tajik">Tajik (тоҷикӣ)</option>
              <option value="Tamil">Tamil (தமிழ்)</option>
              <option value="Thai">Thai (ภาษาไทย)</option>
              <option value="Tibetan">Tibetan (བོད་སྐད)</option>
              <option value="Tigrinya">Tigrinya (ትግርኛ)</option>
              <option value="Tongan">Tongan (lea fakatonga)</option>
              <option value="Turkish">Turkish (Türkçe)</option>
              <option value="Turkmen">Turkmen (Türkmen dili)</option>
              <option value="Urdu">Urdu (اُردُو)</option>
              <option value="Uzbek">Uzbek (Ўзбек тили)</option>
              <option value="Vietnamese">Vietnamese (Tiếng Việt)</option>
              <option value="Welsh">Welsh (Cymraeg)</option>
            </select>
          </p>
          <input id = "btnSubmit" autocomplete="current-password" name = "btnSubmit" type = "submit" value = "Submit" >
          <p id="demo"></p>
        </fieldset> 
    </article>
  </main>
  <footer></footer>
</body>
