<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Login page</title>
  <meta name="author" content="Alyn Kirsch, Maya Griffith, Drew Jepsen">
  <meta name="description" content="Find songs you love in another language">
 <!-- <link rel="stylesheet" href="css/custom.css" type="text/css"> -->
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <main>
    <article>
      <form action="#" id="frmLogin" method="post">
        <fieldset>
          <p>
            <i class="fa fa-headphones icon"></i>
            <select id="lstMusicPlatform" name="lstMusicPlatform">
              <option value="" disabled selected hidden>Choose a Music Platform</option>
              <option value="AmazonPrimeMusic">Amazon Prime Music</option>
              <option value="AppleMusic">Apple Music</option>
              <option value="iHeartRadio">iHeart Radio</option>
              <option value="Pandora">Pandora</option>
              <option value="Spotify">Spotify</option>
              <option value="Youtube">Youtube</option>

            </select>
          </p>
          <p>
            <i class="fa fa-user icon"></i>
            <input type="text" placeholder="Username" name="txtUsername" id="txtUsername">
          </p>

          <p>
            <i class="fa fa-unlock-alt icon"></i>
            <input type="password" placeholder="Password" name="pwdPassword" id="pwdPassword">
          </p>
        </fieldset>
    </article>
  </main>

  <footer></footer>
</body>