<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Login page</title>
  <meta name="author" content="Alyn Kirsch, Maya Griffith, Drew Jepsen">
  <meta name="description" content="Find songs you love in another language">
  <link rel="stylesheet" href="static/custom.css" type="text/css">

 
</head>

<body>
  <main>
    <h1>Language song recommender</h1>
    <article>
      <form action="{{ url_for('.login') }}" id="frmLogin" method="post">
        <h2 class="login">Login Here</h2>
        <fieldset>
          <img src="static/headphones-solid.svg" class="icon-label" alt="headphones-icon"/>
          <p>
            <legend></legend> 
            <label for="lstMusicPlatform" class="icon-label">Music platform</label> 
            <select id="lstMusicPlatform" name="lstMusicPlatform" title="Choose music platform" autocomplete="on">
              <option value="" disabled selected hidden></option>
              <option value="AmazonPrimeMusic">Amazon Prime Music</option>
              <option value="AppleMusic">Apple Music</option>
              <option value="iHeartRadio">iHeart Radio</option>
              <option value="Pandora">Pandora</option>
              <option value="Spotify">Spotify</option>
              <option value="Youtube">Youtube</option>
            </select>
          </p>
          <img src="static/user-solid.svg" class="icon-label" alt="user-icon"/>
          <p>
            <label for="txtUsername" class="icon-label">Username</label> 
            <input type="text" title="Type username here" autocomplete="username" name="txtUsername" id="txtUsername">
          </p>
          <img src="static/unlock-solid.svg" class="icon-label" alt="unlock-icon"/>
          <p>
            <label for="pwdPassword" class="icon-label">Password</label> 
            <input type="password" title="Type password here" autocomplete="current-password" name="pwdPassword" id="pwdPassword">
          </p>
          <input id = "btnSubmit" autocomplete="" name = "btnSubmit" type = "submit" value = "Submit">
          
        </fieldset>
    </article>
  </main>
  <footer></footer>
</body>