<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="utf-8">
        <title>Create Playlist</title>
        <meta name="author" content="Alyn Kirsch, Maya Griffith, Drew Jepsen">
        <meta name="description" content="Create New Playlist">
        <!-- <link rel="stylesheet" href="https://use.typekit.net/opg3wle.css"> -->
        <!-- <link rel="stylesheet" href="static/results.css" type="text/css"> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/inspect.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <body>
        <div class="topnav">
            <a href="{{ url_for('.login') }}">Log Out</a>
            <a href="{{ url_for('.help') }}">Help</a>
            <a href="{{ url_for('.language') }}">Change Language</a>
            <a class="active" href="suggested_playlistsHindi">Recomended</a>
        </div>
        
    <input id = "btnBack" autocomplete="" class="back_button" name = "btnBack" type = "button" value = "&#8592" onclick="history.back()">
    <h1>Create a New Playlist</h1>
    <form id="form" class="search">
        <div class="ontop">
        <label class= "add" for="txtUsername" class="icon-label">Add song:</label> 
        <div class="row">
        <input  type="search" title="Search song name to add to playlist" autocomplete="" id="query" name="q">
        <button class="search-btn" onclick=addSong() type="button">Search</button>
        </div>
        </div>
      </form>
      <div id="first-node">
    <div class="topcontainer">
    <div class="icon-and-link">
        <img class='share' alt='edit' src='..\static\pen-to-square-solid.svg' onclick=edit(this)>
        <p id="edit-p">Edit</p>
    </div>
    <div class="icon-and-link">
        <img class='share' alt='edit' src='..\static\share-solid.svg' onclick=share(this)> 
        <p id="share-p">Share</p>
    </div>
    <div class="icon-and-link">
        <img class='heart' class="share" alt='like this song' src='..\static\heart-regular.svg' onclick=chngimg(this)>
    <p>Save</p>
    </div>
    </div>
    </div>
    
    <div class="grid-container" id="grid-container">
       
    </div>
    </body>
    <script src="..\static\script.js"></script>
</html>