<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="utf-8">
        <title>Suggest Playlist</title>
        <meta name="author" content="Alyn Kirsch, Maya Griffith, Drew Jepsen">
        <meta name="description" content="Look at all Playlist">
        <link rel="stylesheet" type="text/css" href="https://demo.plantpot.works/assets/css/normalize.css">
        <link rel="stylesheet" href="https://use.typekit.net/opg3wle.css">
        <link rel="stylesheet" href="static/results.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <body>
        <div class="topnav">
            <a href="{{ url_for('.login') }}">Log Out</a>
            <a href="{{ url_for('.help') }}">Help</a>
            <a href="{{ url_for('.language') }}">Change Language</a>
            <a class="active" href="suggested_playlistsSpanish">Recomended</a>
        </div>
    <h1>Your suggested Music</h1>
    <div class="playlist">
    <h2>Playlists</h2>
    <div class="corner">
    <a href="createplaylist.html"><p>Create your own playlist</p></a>
    <a class="icon" href="createplaylist.html"><img alt='Create your own playlist' src='..\static\plus-solid.svg'></a>
    </div>
    </div>
    <div class="flex-container">
        <a class="activePage" href="{{ url_for('.playlist') }}">
        <figure>
            <img alt='Beginner Spanish' src='..\static\begspan.png'>
            
            <figcaption>Beginner Spanish</figcaption></a>
            <img class='heart' alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">
        </figure>
        
        
        <a class="activePage" href="{{ url_for('.playlist') }}">
        <figure>
            <img alt='Intermediate Spanish' src='..\static\interspan.png'>
            <figcaption>Intermediate Spanish</figcaption></a>
            <img class='heart' alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">
        </figure>
    
    <a class="activePage" href="{{ url_for('.playlist') }}">
        <figure>
            <img alt='Advanced Spanish' src='..\static\advanspan.png'>
            <figcaption>Advanced Spanish</figcaption></a>
            <img class='heart' alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">

        </figure> 
    
    <a class="activePage" href="{{ url_for('.playlist') }}">
        <figure>
            <img alt='Dance in Spanish' src='..\static\bailar.png'>
            <figcaption>Dance in Spanish</figcaption></a>
            <img class='heart' alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">
        </figure>
        
        <a class="activePage" href="{{ url_for('.playlist') }}">
        <figure>
            <img alt='Classics' src='..\static\classics.png'>
            <figcaption>Classics</figcaption></a>
            <img class='heart' alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">
        </figure>
       
        <!-- <a class="activePage" href="{{ url_for('.playlist') }}">
            <figure>
                <img alt='Work and Study' src='..\static\workandstudy.png'>
                <figcaption>Work and Study</figcaption></a>
                <img class='heart' alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">
            </figure> -->
    </div>

    <h2>Songs</h2>
    <div class="flex-container">
        <a class="activePage" href="https://www.youtube.com/watch?v=yO-XR4qXm1k&ab_channel=BadBunny-Topic">
        <figure>
            <img alt='Efecto by Bad Bunny' src='..\static\badbunny.jpg'>
            <figcaption>Efecto</figcaption></a>
            <img class='heart' alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">
        </figure>
        <a class="activePage" href="https://www.youtube.com/watch?v=vUONWl8uBxM&ab_channel=LatinNow">
        <figure>
            <img alt='Hawái by Maluma' src='..\static\maluma.jpg'>
            <figcaption>Hawái</figcaption></a>
            <img class='heart' alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">
        </figure>
        <a class="activePage" href="https://www.youtube.com/watch?v=aDCcLQto5BM&ab_channel=DannyOcean">
        <figure>
            <img alt='Me Rehúso by Danny Ocean' src='..\static\danny.jpg'>
            <figcaption>Me Rehúso</figcaption></a>
            <img class='heart' alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">
        </figure> 
        <a class="activePage" href="https://www.youtube.com/watch?v=tK4ioPhpal4&ab_channel=BadBunny">
        <figure>
            <img alt='PA’ ROMPERLA by Bad Bunny and Don Omar' src='..\static\disk.jpg'>
            <figcaption>PA’ ROMPERLA</figcaption></a>
            <img class='heart' alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">
        </figure>
        <a class="activePage" href="https://www.youtube.com/watch?v=u8jb8z3zUJM&ab_channel=Ozuna">
        <figure>
            <img alt='Hey Mor by Ozuna' src='..\static\ozuna.jpg'>
            <figcaption>Hey Mor</figcaption></a>
            <img class='heart' alt='like this song' src='..\static\heart-regular.svg' onclick="chngimg(this)">
        </figure>
    </div>
    </body>
    <script src="..\static\script.js"></script>
</html>
